repos:
  ## system
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.22.2
    hooks:
        - id: django-upgrade
          args: [--target-version, "5.1"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
        - id: check-yaml
        - id: check-merge-conflict
        - id: check-toml
        - id: trailing-whitespace
        - id: name-tests-test
        - id: debug-statements
        - id: mixed-line-ending
  - repo: https://github.com/pycqa/doc8
    rev: v1.1.2
    hooks:
        - id: doc8

  #python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.18
    hooks:
      - id: uv-lock

  # TODO:  https://github.com/adamchainz/pre-commit-oxipng


  - repo: local
    hooks:
      - id: stylelint
        name: stylelint
        entry: npx stylelint
        language: node
        files: ^[[project_name]]/static_source/
        types_or: [css, scss]
        args: [--fix, --allow-empty-input, --cache]

      - id: eslint
        name: eslint
        entry: npx eslint
        language: node
        files: ^[[project_name]]/static_source/
        types_or: [javascript, ts]
        args: [--fix]

      - id: tsc
        name: tsc
        entry: npx tsc --noEmit
        files: ^[[project_name]]/static_source/
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
