{
    "ignore_dirs": [
        "node_modules",
        ".venv",
        "__pycache__",
        ".git",
        "scripts",
        "[[project_name]]/static",
        "[[project_name]]/static_source",
        "[[project_name]]/media",
        ".pytest_cache",
        "*.egg-info"
    ]
}
