{% extends "base.html" %}

{% block title %}
    {% translate "Bad Request (400)" %}
{% endblock title %}

{% block content %}
    <h1>{% translate "Bad Request (400)" %}</h1>
    <p>
        {% if exception %}
            {{ exception }}
        {% else %}
            {% translate "This request was a bad, bad request." %}
        {% endif %}
    </p>
{% endblock content %}
