<footer class="bg-white">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            {% component "footer_nav_link" href="#" text="About" %}{% endcomponent %}
            {% component "footer_nav_link" href="#" text="Blog" %}{% endcomponent %}
            {% component "footer_nav_link" href="#" text="Jobs" %}{% endcomponent %}
            {% component "footer_nav_link" href="#" text="Press" %}{% endcomponent %}
            {% component "footer_nav_link" href="#" text="Accessibility" %}{% endcomponent %}
            {% component "footer_nav_link" href="#" text="Partners" %}{% endcomponent %}
        </nav>

        <div class="mt-8 flex justify-center space-x-6">
          {% component "social_link" name="Facebook" href="#" icon_type="facebook" %}{% endcomponent %}
          {% component "social_link" name="Instagram" href="#" icon_type="instagram" size="6" %}{% endcomponent %}
          {% component "social_link" name="Twitter" href="#" icon_type="twitter" %}{% endcomponent %}
          {% component "social_link" name="GitHub" href="#" icon_type="github" %}{% endcomponent %}
          {% component "social_link" name="Dribbble" href="#" icon_type="dribbble" size="6" %}{% endcomponent %}
        </div>


        <p class="mt-8 text-center text-base text-gray-400">
            &copy; {% now "Y" %} {{cookiecutter.project_name}}, Inc. All rights reserved.
        </p>
    </div>
</footer>
