{% extends "base.html" %}
{% load heroicons %}

{% block title %}
    Index
{% endblock title %}

{% block content %}
  <div class="container mx-auto">
    <h1>
      <em class="text-2xl font-bold">Hello There!</em>
    </h1>
    <div id="current-time">{% include "samples/current_time.html" %}</div>


    {% component "button"
      attrs:hx-get="{% url 'current_time' %}"
      attrs:hx-target="#current-time"
      attrs:hx-swap="innerHTML"
      attrs:hx-push-url="false"
      %}
      Refresh time
    {% endcomponent %}
    {% component "button"
      color="secondary"
      attrs:hx-get="{% url 'test_redirect' %}"
      attrs:hx-push-url="false"
      %}
      Test hx-redirect with messages
    {% endcomponent %}
    {% component "button"
      variant="outline"
      attrs:hx-get="{% url 'test_refresh' %}"
    %}
      Test hx-refresh with messages
    {% endcomponent %}

    <div class="flex flex-col items-start">
      {% component "popover" button_class="group flex items-center rounded-lg w-full p-1 hover:bg-gray-800/10" %}
        {% fill "trigger" %}
          {% component "button" %}
            open menu {% heroicon_micro "chevron-down" %}
          {% endcomponent %}
        {% endfill %}
        {% fill "content" %}
          <a
            href="#"
            class="block w-full px-4 py-2 text-sm transition-colors"
          >
            Menu Item One
          </a>

          <a
            href="#"
            class="block w-full px-4 py-2 text-sm transition-colors"
          >
            Menu Item two
          </a>
      {% endfill %}
    {% endcomponent %}




      {% component "modal"  %}
        {% fill "title" %}
          welcome to hydra!
        {% endfill %}
        {% fill "content" %}
          This is a hydra modal
        {% endfill %}
      {% endcomponent %}


      {% component "tabs" %}
        {% fill "labels" %}
          <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'border-gray-200 bg-red-500' : 'border-transparent'"
            class="inline-flex rounded-t-md border-t border-l border-r px-5 py-2.5">
            TabOne
          </button>
          <button x-tabs:tab type="button"
            :class="$tab.isSelected ? 'border-gray-200 bg-orange-500' : 'border-transparent'"
            class="inline-flex rounded-t-md border-t border-l border-r px-5 py-2.5">
            TabTwo
          </button>
        {% endfill %}
        {% fill "panels" %}
          <section x-tabs:panel class="p-4">
            <div class="bg-slate-500"><h4 class="text-red-900">Testing 123</h4></div>
          </section>
          <section x-tabs:panel class="p-10">
            <div class="bg-green-500"><h4 class="text-blue-600">Testing 124</h4></div>
          </section>
        {% endfill %}
      {% endcomponent %}
  </div>
</div>
{% endblock content %}
