{% extends "account/account_base.html" %}

{% block account_title %}{% translate "Sign Out" %}{% endblock %}

{% block account_content %}
  <p class="mb-10 text-center">{% translate "Are you sure you want to sign out?" %}</p>
  <form method="post" class="flex justify-center" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    {% component "button" attrs:type="submit" %}
      {% translate "Sign Out" %}
    {% endcomponent %}
  </form>
{% endblock %}
