{% extends "account/account_base.html" %}
{% block account_title %}
    {% if token_fail %}
        {% translate "Bad Token" %}
    {% else %}
        {% translate "Change Password" %}
    {% endif %}
{% endblock %}

{% block account_content %}
    {% if token_fail %}
        <p>
          {% url 'account_reset_password' as passwd_reset_url %}
          {% blocktranslate %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}
        </p>
    {% else %}
        <form method="post" action="{{ action_url }}">
          {% csrf_token %}

          {% component "form" form=form  /%}
          {% component "button" attrs:type="submit" attrs:class="w-full" %}
            {% translate "Change Password" %}
          {% endcomponent %}
        </form>
    {% endif %}
{% endblock %}
