/* stylelint-disable no-descending-specificity -- work done by html and not by css */
/* stylelint-disable block-no-empty -- we need it for the keyframes */


/*
  This file controls the styling for "material" inputs.

  inputs are styled in the order of .field > [input]
  rem units are being used to keep things proportional on the tailwind side,
  but we have a bit less control over t-s (tom-select) which is being styled using px.
*/

// base guidelines for styles. All assume a base font size of 16
$input-height: 3.75rem;                    // 60px
$input-center: calc($input-height / 2);    // for icons
$textarea-height: calc($input-height * 3); // replace with "auto" to default to HTML rows
$border-radius: 0.5rem;                    // 8px
$focus-color: var(--primary-focus);        // Outline of focused text elements
$focus-label: var(--primary);              // color of focused label
$border-color: var(--silver);
$background-color: #fff;

// label for focused input, Optionally can change the label color of focused element.
@mixin label-focused {
  @apply top-0 left-0 pt-2 pb-1 text-xs leading-3;

  width: calc(100% - 0.75rem);
  background-color: $background-color;
}

// label for empty, unfocused input.
@mixin label-resting {
  @apply text-left truncate max-w-full;
  @apply absolute pointer-events-none block top-0 w-full overflow-hidden;

  line-height: $input-height;
  transition:
    all 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    padding-left 0ms linear 0ms,
    color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    background-color 0s ease-out 200ms;
}

// Neither of these animations have a visible effect - they are used as flags for autofill
@keyframes autofill-start {
  from {}

  to {}
}

@keyframes autofill-cancel {
  from {}

  to {}
}

.helptext {
  ul {
    list-style: none;
  }
}


.field { // wrapper element for input/label, provides basic styling for input
  @apply border relative h-auto;
  @apply flex items-center h-full relative overflow-x-hidden overflow-ellipsis;

  border-color: $border-color;
  border-radius: $border-radius;
  background-color: $background-color;

  &.error {
    @apply w-full border-red-300 text-red-900 placeholder-red-300;
    @apply focus:outline-none focus:ring-red-500 focus:border-red-500;
  }

  & + .errorlist {
    @apply -mx-5;
  }

  &:focus-within {
    box-shadow: 0 0 0 1px $focus-color;
    border-color: $focus-color;
  }

  & .input,
  & .input ~ label {
    @apply px-4;
  }

  & .textarea {
    @apply ml-4;
  }

  .password {
    @apply mr-2;

    & input,
    & ~ label {
      @apply px-4;
    }

    & input:focus {
      @apply ring-0;
    }
  }

  input,
  textarea {
    @apply px-0 ring-0 w-full border-0 bg-transparent;

    min-height: $input-height;
    border-radius: $border-radius;
    transition: padding 0.3s;

    &:not(:placeholder-shown),
    &:focus {
      @apply pt-5;
    }

    &:read-only {
      @apply pointer-events-none;
    }

    // these are placeholder animations which allow us to attach an event listener
    // to inputs that have been autofilled. Without a duration, styles are applied with
    // "automatic" autofill but not with drop down. Props to the Klarna UI team for
    // this solution.
    // https://medium.com/@brunn/detecting-autofilled-fields-in-javascript-aed598d25da7
    &:-webkit-autofill {
      animation-name: autofill-start;
      animation-duration: 0.001s;
    }

    &:not(:-webkit-autofill) {
      animation-name: autofill-cancel;
      animation-duration: 0.001s;
    }
  }

  // textarea handles vertical alignment differently from inputs,
  // so unique styling is needed.
  textarea {
    @apply pt-4 pr-3;

    line-height: calc($input-height / 2);
    height: $textarea-height;
  }

  .input ~ label,
  .password ~ label { // default position for input labels
    @include label-resting;
  }

  .has-focus ~ label {
    @include label-focused;
  }

  .input:not(.has-focus).input::placeholder,
  .input:not(.has-focus).textarea::placeholder,
  .input:not(.has-focus) input::placeholder,
  .password:not(.has-focus) input::placeholder {
    color: transparent;
  }


  // removes input styling that some browsers apply to autofilled elements
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @apply ring-0;

    background-clip: text;
    font-size: inherit;
  }
}


.left-icon {
  @apply absolute left-3 pointer-events-none z-10;

  top: $input-center;
  transform: translateY(-50%);
  background-color: transparent;
}

.right-icon {
  @apply absolute -right-7 pointer-events-none z-10;

  top: $input-center;
  transform: translateY(-50%);
  background-color: transparent;
}

.form-wrapper {
  @apply flex flex-row flex-wrap gap-7;
}

.errorlist {
  @apply text-red-400 list-none
}



// styling for flatpickr (generally fine except overriding focus styles)
.flatpickr-input {
  @apply focus:ring-0;
}



// ------------------tom-select-------------------
.field.select {
  @apply px-4;

  overflow-x: visible !important;
  min-height: $input-height; // prevent flash of content from tom select starting up

  // basic styles for no js
  select {
    border-width: 0;
    width: 100%;
  }

  select ~ label {
    z-index: 2;
  }

  .ts-wrapper + label,
  ~ label {
    @include label-resting;
  }

  .ts-wrapper:not(.input-active) input::placeholder {
    color: transparent;
  }

  .ts-wrapper.has-items + label,
  select:-webkit-autofill:hover + label,
  select:-webkit-autofill:focus + label,
  .has-focus ~ label,
  .ts-wrapper.focus + label {
    background-color: transparent !important;

    @apply pl-4;
    @include label-focused;
  }


  // Font-end styling for tom-select
  .ts-wrapper {
    @apply ring-0 w-full left-0 border bg-transparent pr-0;

    height: $input-height;
    border-radius: 5px;

    + label { // gives select room for the drop down arrow
      @apply pr-10;
    }

    &.multi {
      padding-top: 20px !important;
    }

    .ts-control {
      @apply border-0 w-full bg-transparent pl-0;

      padding-top: 20px;
    }

    .ts-dropdown {
      margin: 12px 0 0;
      border-radius: 8px;
      background-color: $background-color;

      .ts-dropdown-content {
        padding: 0;

        .option {
          line-height: 48px;
          border-radius: 6px;
          margin: 4px;
        }
      }
    }
  }
}


// global/admin styling for tom-select
.ts-wrapper {
  @apply px-4 ring-0;

  &.focus {
    .ts-control {
      box-shadow: none;
      border-color: var(--primary-accent);
    }
  }

  .ts-control {
    input {
      height: inherit;
      width: auto;
    }
  }

  .ts-dropdown {
    padding: 2px; // Prevents scrollbar from overlapping border
    border: 1px solid var(--dark-gray);
    color: var(--primary);

    .active {
      @apply bg-opacity-10;

      font-weight: 600;
      color: var(--primary-focus);
    }

    .option {
      padding-left: 16px;
      margin: 4px;
      height: $input-height;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    .ts-dropdown-content {
      padding: 0;

      .option {
        line-height: 48px;
        border-radius: 6px;
        margin: 4px;

        &.selected {
          text-decoration: none;
        }
      }
    }
  }
}
