<div>
  <a href="#" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
    <span class="sr-only">{% translate "Sign in with Facebook" %}</span>
    {% component "svg" name="facebook" %}{% endcomponent %}
  </a>
</div>
<div>
  <a href="#" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
    <span class="sr-only">{% translate "Sign in with Twitter" %}</span>
    {% component "svg" name="twitter" %}{% endcomponent %}
  </a>
</div>
<div>
  <a href="#" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
    <span class="sr-only">{% translate "Sign in with GitHub" %}</span>
    {% component "svg" name="github" %}{% endcomponent %}
  </a>
</div>
