<div x-data x-tabs {% html_attrs tabs_attrs %}>
  <div x-tabs:list {% html_attrs labels_list_attrs %}>
    {% for tab in tabs %}
      <button x-tabs:tab
        type="button"
        :class="$tab.isSelected && '{{ selected_class }}'"
        {% html_attrs tab.attrs %}
        {% if tab.disabled %}disabled="disabled"{% endif %}
      >
        {{ tab.header }}
      </button>
    {% endfor %}
  </div>
  <div x-tabs:panels {% html_attrs panels_list_attrs %}>
    {% for tab in tabs %}
      <section x-tabs:panel class="{{ panel_class }}">
        {{ tab.content }}
      </section>
    {% endfor %}
  </div>
</div>
