{% extends "account/account_base.html" %}
{% load heroicons %}
{% block account_title %}{% translate "Password Reset" %}{% endblock %}

{% block account_back %}
  <a class="text-sm text-gray-500" href="{% url "account_login" %}">
    {% heroicon_micro "arrow-long-left" class="inline-block" %} {% translate "Sign In" %}
  </a>
{% endblock %}

{% block account_content %}
  {% if .user.is_authenticated %}
    {% include "account/snippets/already_logged_in.jinja" %}
  {% else %}
    <div class="flex flex-col gap-2 mb-6" >
      <p>
        {% translate "We have sent you an e-mail." %}
      </p>
      <p>
        {% translate "If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes." %}
      </p>
    </div>
  {% endif %}
{% endblock account_content %}
