{% load heroicons %}

<div {% html_attrs attrs %}>
  <div class="field {% if field.errors %}error{% endif %} {{field.widget_type}}">
    {{ field }}
    {% if field.label %}{{ field.label_tag }}{% endif %}
  </div>
  {% if field.errors %}
    <div class="right-icon">
      {% heroicon_solid "exclamation-circle" class="text-error" %}
    </div>
    <div class="text-error">{{ field.errors }}</div>
  {% endif %}
  {% if field.help_text %}
    <div class="helptext text-sm text-gray-500" id="{{ field.auto_id }}_helptext" >{{ field.help_text|safe }}</div>
  {% endif %}
</div>
