{% load replace %}
{% load heroicons %}
<div x-data="input('update-{{ widget.attrs.id|default:''|replace:'_|-' }}', '{{ widget.value|default:'' }}', '{{ widget.type }}')"
     x-ref="input"
     :class="{ 'has-focus': active }"
     class="w-full z-10 flex items-center relative password
            {% if widget.value %}has-focus{% endif %}">
  <input x-model.debounce.500ms="value"
         :type="type"
         name="{{ widget.name }}"
         class="mr-2"
         {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
         {% include "django/forms/widgets/attrs.html" %} />
  <div class="cursor-pointer"
       @click="type = 'password'"
       x-cloak
       x-show="type === 'text'">{% heroicon_outline "eye-slash" class="w-6 h-6" %}</div>
  <div class="cursor-pointer"
       @click="type = 'text'"
       x-show="type === 'password'">{% heroicon_outline "eye" class="w-6 h-6" %}</div>
</div>
