{% load replace %}
<div
  x-data="input('update-{{ widget.attrs.id|default:''|replace:'_|-' }}', '{{ widget.value|default:'' }}', '{{ widget.type }}')"
  x-ref="input"
  :class="{ 'has-focus': active }"
  class="w-full input{% if widget.value %} has-focus{% endif %}">
  <textarea
    x-model.debounce.500ms="value"
    name="{{ widget.name }}"
    {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
    {% include "django/forms/widgets/attrs.html" %}
  >{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
</div>
