<div {% html_attrs attrs %}>
  <div class="flex items-center h-4 w-4">{% component "widget" field=field / %}</div>
    <div class="ml-3 flex flex-col">
      {% if field.label %}
        {% component "checkbox_label" field=field %}
          {{ field.label }}
        {% endcomponent %}
      {% endif %}
      {% if field.help_text %}
        <p class="helptext text-sm text-gray-500"
           id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
      {% endif %}
      {% if field.errors %}<div class="text-error">{{ field.errors }}</div>{% endif %}
    </div>
  </div>
