{% extends "admin/base_site.html" %}
{% load django_vite %}
{% block extrahead %}
    {{ block.super }}
    {% vite_hmr_client %}
  <style>
    [x-cloak] { display: none !important; }
  </style>
{% endblock %}
{% block title %}
    {% if subtitle %}{{ subtitle }} |{% endif %}
    {{ title }} | {{ site_title|default:_('[[project_name_verbose]] site admin') }}
{% endblock %}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ site_header|default:_('[[project_name_verbose]] administration') }}</a>
    </h1>
{% endblock %}
